html {
  overflow: hidden;
}

html, body, button, input, .draggable {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

button,
input,
#dungeon-wrap,
.draggable {
  border: 1px solid white;
}

button,
input,
.draggable {
  display: inline-block;
  padding: 4px 8px;
}

.draggable {
  height: 100px;
  width: 100px;
}

.leader-line {
  display: inline-block;
}

button {
  cursor: pointer;
}

#sign-out {
  display: none;
}

#dungeon-wrap {
  height: 400px;
  overflow: scroll;
}

#dungeon-view {
  height: 1000px;
  width: 1000px;
}
